<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="GIM-Portal">
<!--    <test name="Login" verbose="1">-->
<!--        <classes>-->
<!--            <class name="io.paysky.qc.LoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Create_Payment_Order" verbose="2">
        <classes>
            <class name="io.paysky.qc.CreatePaymentOrderTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
</suite>